/*----------------top-corner red bacground................*/
body{
    background: url(Screenshot_2022-12-28_232714-removebg-preview.png) no-repeat
}
span{
    color: orange ;
}
.text-file{
    margin: 30px 20px;
    margin-left: 3%;
    margin-right: 3%;
}
 h1{
    font-size: 40px; 
    margin-top: 25px 15px ; 
}
p{
    font-size: 20px;
    margin-top: 25px 15px ; 
}
.vertical-line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}
.btn{
    background: linear-gradient(rgb(232, 115, 5), rgb(234, 161, 45));;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}
.btn a{
    text-decoration: none;
    color: rgb(232, 247, 247);
}
.btn:hover{
    background: linear-gradient(rgb(236, 140, 50), rgb(233, 175, 83));;
}
/*----------------------end wlcome section-----------------------*/
.vertical-line2{
    display: flex;
    margin: 40px 10px;
    padding-left: 3%;
    background: url(Untitled_design__3_-removebg-preview.png) no-repeat;
    background-position: right;
    background-size: 400px;
}
.about-section-img-my-img{
    height: 340px;
    width: 330px;
    margin-left: 3%;
    margin-top: 40px;
    padding-right: 30px;
    border-radius:12px;
}
.text-file-about-scetion{
    margin: 30px 20px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 50px;
}
.text-file-about-scetion h1{
    font-size: 40px; 
    margin-top: 25px 15px ; 
    
}
.text-file-about-scetion p{
    font-size: 20px;
    margin-top: 25px 15px ; 
}
/*----------------------experince section add-----------*/

.exp-img{
    background: url(solid_img_css_bg-removebg-preview.png) no-repeat;
    background-size: 100px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.exp-section{
    margin-left: 3%;
    display: flex;
    
}
.box{
    box-shadow: 10px 10px 40px;
    width: 45%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
    border-left: 7px solid orangered;
}
